// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Ariel's Styles
html, body {
  background-color: $white-smoke;
  color: $outer-space;
}

.content {
  height: 100vh;
  text-align: center;
  margin: 0 5vw;

  nav {
    margin-top: 10px;

    a.navbar-brand, a.nav-link {
      color: $outer-space;
    }

    a.navbar-brand:hover, a.nav-link:hover {
      color: $chestnut;
      font-weight: 700;
    }
  }

  .centered-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    .hello {
      font-size: 25px;
    }

    .ariel {
      font-size: 99px;
    }

    .paragraph {
      font-size: 20px;
      margin-top: 50px;
    }

    .social {
      margin-top: 50px;

      ul {
        li.social-link {
          a {
            .social-icon-img {
              height: 50px;
              margin: 0 20px;
            }
          }
        }
      }
    }
  }

  .blog-feed {
    margin-top: 50px;
  }
}
